mis entornos/mi_web/src/proyecto/base/__pycache__/models.cpython-313.pyc
mis entornos/mi_web/src/proyecto/base/migrations/__pycache__/__init__.cpython-313.pyc
mis entornos/mi_web/src/proyecto/proyecto/__pycache__/urls.cpython-313.pyc
mis entornos/mi_web/src/proyecto/base/__pycache__/models.cpython-313.pyc
mis entornos/mi_web/src/proyecto/base/__pycache__/urls.cpython-313.pyc
mis entornos/mi_web/src/proyecto/base/__pycache__/views.cpython-313.pyc
mis entornos/mi_web/src/proyecto/base/migrations/__pycache__/
mis entornos/mi_web/src/proyecto/proyecto/__pycache__/urls.cpython-313.pyc
mis entornos/mi_web/src/proyecto/base/__pycache__/admin.cpython-313.pyc
